catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3schools.com"
           xmlns="http://www.w3schools.com"
           elementFormDefault="qualified">

    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <!-- Danh mục -->
                <xs:element name="categories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="category" maxOccurs="unbounded">
                                <xs:complexType mixed="true"> <!-- Phần tử có thể chứa văn bản và phần tử con/thuộc tính cùng lúc.-->
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Sản phẩm -->
                <xs:element name="products">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="product" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="price">
                                            <xs:complexType mixed="true"> 
                                                <xs:attribute name="currency" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="stock" type="xs:integer"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="categoryRef" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- 🔑 Khóa chính cho category -->
        <xs:key name="categoryKey">
            <xs:selector xpath="categories/category"/>
            <xs:field xpath="@id"/> <!--@id = khi id là thuộc tính.|id = khi id là phần tử con. -->
        </xs:key>

        <!-- 🔑 Khóa chính cho product -->
        <xs:key name="productKey">
            <xs:selector xpath="products/product"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <!-- 🔗 Khóa ngoại: product.categoryRef -> category.id -->
        <xs:keyref name="productCategoryRef" refer="categoryKey">
            <xs:selector xpath="products/product"/> 
            <xs:field xpath="@categoryRef"/>
        </xs:keyref>

    </xs:element>
</xs:schema>
