elearning.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/emptyDTD.dtd to edit this template
-->

<!--
    TODO define vocabulary identification data
    PUBLIC ID  : -//vendor//vocabulary//EN
    SYSTEM ID  : http://server/path/__NAME__
-->

<!-- TODO define your own vocabulary/syntax. Example follows:  -->
<!ELEMENT __ROOT__ ANY>
<!ATTLIST __ROOT__ version CDATA #REQUIRED>

<!ELEMENT elearning (course:course+)>
<!ATTLIST elearning
    xmlns:course     CDATA #FIXED "http://example.com/course"
    xmlns:instructor CDATA #FIXED "http://example.com/instructor"
    xmlns:student    CDATA #FIXED "http://example.com/student">

<!ELEMENT course:course (course:title, instructor:instructor, course:students)>
<!ATTLIST course:course
    id ID #REQUIRED
    category CDATA #REQUIRED>

<!ELEMENT course:title (#PCDATA)>

<!ELEMENT instructor:instructor (instructor:name, instructor:email)>
<!ATTLIST instructor:instructor id ID #REQUIRED>

<!ELEMENT instructor:name (#PCDATA)>
<!ELEMENT instructor:email (#PCDATA)>

<!ELEMENT course:students (student:student+)>

<!ELEMENT student:student (student:name)>
<!ATTLIST student:student
    id ID #REQUIRED
    progress CDATA #REQUIRED>

<!ELEMENT student:name (#PCDATA)>


