hospital.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/emptyDTD.dtd to edit this template
-->

<!--
    TODO define vocabulary identification data
    PUBLIC ID  : -//vendor//vocabulary//EN
    SYSTEM ID  : http://server/path/__NAME__
-->

<!-- TODO define your own vocabulary/syntax. Example follows:  -->
<!ELEMENT __ROOT__ ANY>
<!ATTLIST __ROOT__ version CDATA #REQUIRED>

<!ELEMENT hospital (app:appointment+)>
<!ATTLIST hospital
    xmlns CDATA #FIXED "http://example.com/hospital"
    xmlns:pat CDATA #FIXED "http://example.com/patient"
    xmlns:doc CDATA #FIXED "http://example.com/doctor"
    xmlns:app CDATA #FIXED "http://example.com/appointment">

<!ELEMENT app:appointment (pat:patient, doc:doctor)>
<!ATTLIST app:appointment
    id ID #REQUIRED
    date CDATA #REQUIRED
    status CDATA #REQUIRED>

<!ELEMENT pat:patient (pat:name, pat:dob)>
<!ATTLIST pat:patient id ID #REQUIRED>

<!ELEMENT pat:name (#PCDATA)>
<!ELEMENT pat:dob (#PCDATA)>

<!ELEMENT doc:doctor (doc:name, doc:specialty)>
<!ATTLIST doc:doctor id ID #REQUIRED>

<!ELEMENT doc:name (#PCDATA)>
<!ELEMENT doc:specialty (#PCDATA)>


