orders.xsd

<?xml version="1.0"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XmlSchema.xsd to edit this template
-->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Root element -->
  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <!-- Order -->
        <xs:element name="order" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Product -->
              <xs:element name="product" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="quantity" type="xs:integer"/>
                  </xs:sequence>
                  <!-- Product id: unique trong 1 order -->
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- Order id: unique toàn bộ document -->
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>

          <!-- Ràng buộc id của product duy nhất trong từng order -->
          <xs:unique name="UniqueProductIDInOrder">
            <xs:selector xpath="product"/>
            <xs:field xpath="@id"/>  <!--@id = khi id là thuộc tính.|id = khi id là phần tử con. -->
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
