sanpham.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/emptyDTD.dtd to edit this template
-->

<!--
    TODO define vocabulary identification data
    PUBLIC ID  : -//vendor//vocabulary//EN
    SYSTEM ID  : http://server/path/__NAME__
-->

<!-- TODO define your own vocabulary/syntax. Example follows:  -->
<!ELEMENT __ROOT__ ANY>
<!ATTLIST __ROOT__ version CDATA #REQUIRED>

<!ELEMENT danhsach_sanpham (sanpham+)>
<!ELEMENT sanpham EMPTY>

<!ATTLIST sanpham
    id ID #REQUIRED
    category CDATA #REQUIRED
    price CDATA #REQUIRED
    currency CDATA #REQUIRED>


